*{
    margin: 20px;
    padding: 0;
    
}

form{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 23px;
}

label{
    font-size: 40px;
    color: #f4c48c;
}

.text{
    background-color: #f4ed6f;
    border: none;
    font-size: 28px;
    border-radius: 12px;
    padding: 4px;
}

.btn{
    font-size: 28px;
    border-radius: 12px;
    padding: 12px;
    border: none;
    background-color: #0099db;
}


/* CSS */
.button-32 {
  background-color: #f4ed6f;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}